html
  head
    title=title
    link(href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/darkly/bootstrap.min.css', rel='stylesheet')
    meta(name="viewport",content="width=device-width,height=device-height, white-space:normal, initial-scale=1.0")
  body
    div.navbar.navbar-default
      div(style='text-align:center; color: #FFFFFF')
        h1 iErgo
    div(style='text-align:center').container
      div.jumbotron
        h2 Utilize any of the following checklists to evaluate your task.
            p
              br
              div
                a(href="http://qbena.com/media/2857/2619%20General%20Ergonomic%20Risk%20Analysis%20Checklist.pdf")
                  .btn.btn-primary(style='width:75%; height:fluid; font-size:22; white-space:normal; word-wrap: break-word; word-break: normal') General Ergonomic Risk Analysis Checklist
              p
                div
                  a(href="http://www.iapa.ca/pdf/fd_erg_risk_assessment.pdf")
                    .btn.btn-primary(style='width:75%; height:fluid; font-size:22; white-space:normal; word-wrap: break-word; word-break: normal') IAPA Ergonomic Risk Assessment Checklist
              p
                div
                  a(href="http://safemanitoba.com/sites/default/files/uploads/officeergochecklistrevisedjan2011.pdf")
                    .btn.btn-primary(style='width:75%; height:fluid; font-size:22; white-space:normal; word-wrap: break-word; word-break: normal') Office Ergonomics Checklist
              br
            p(style='text-align:left')
              a.btn.btn-danger(href="/assessed_risk") Back