html
  head
    title=title
    link(href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/darkly/bootstrap.min.css', rel='stylesheet')
    meta(name="viewport",content="width=device-width,height=device-height,white-space:normal, initial-scale=1.0")
  body
    div.navbar.navbar-default
      div(style='text-align:center')
        h1 iErgo
    div.container
      div(style='text-align:center').jumbotron
        h2 Welcome to  iErgo 
        h2 An ergonomics tool discovery system
        br
        p
          div
            a(href="/assessed_risk")
              .btn.btn-primary(style='width:250px; height:55px; font-size:22') Discover Tool by Task
        p
          div
            a(href="/tool_definitions")
              .btn.btn-primary(style='width:250px; height:55px; font-size:22') Tool Definitions




