html
  head
    title=title
    link(href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/darkly/bootstrap.min.css', rel='stylesheet')
    meta(name="viewport",content="width=device-width,height=device-height, initial-scale=1.0")
  body
    div.navbar.navbar-default
      div(style='text-align:center; color: #FFFFFF')
        h1 iErgo
    div(style='text-align:center').container
      div.jumbotron
        h2 Is there repetitive action? 
            p
              br
              div
                a(href="/mmh_repetitive_yes")
                  .btn.btn-primary(style='width:100px; height:fluid; font-size:22; white-space:normal; word-wrap: break-word; word-break: normal') Yes
                | &nbsp
                | &nbsp
                | &nbsp
                | &nbsp
                a(href="/push_or_pull")
                  .btn.btn-primary(style='width:100px; height:fluid; font-size:22; white-space:normal; word-wrap: break-word; word-break: normal') No
              br
            p(style='text-align:left')
              a.btn.btn-danger(href="/mmh_or_uet") Back