doctype html
html
  head
    link(href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/darkly/bootstrap.min.css', rel='stylesheet')
    meta(name="viewport",content="width=device-width,height=device-height,word-wrap:break-work, word-break:break-all, initial-scale=1.0")
  body
    div.navbar.navbar-default
      div(style='text-align:center; color: #FFFFFF')
        h1 iErgo
    div.container
      div.jumbotron(style='text-align:center')
        h1(style='text-align:center')#header
          | Liberty Mutual Psychophysical Tables
        .panel-group
          .panel.panel-info
            panel-title
              h2(style='text-align:center')
                | Purpose:
            panel-body
            h4 
              | To provide guidance for manual material handling tasks.
        div.panel.panel-info
            h2(style='text-align:center')
              | Developed by:
            panel-body
            h4 
              | Stover Snook(1978) with Vincent Ciriello (1991)
        div.panel.panel-info
            h2(style='text-align:center')
              | Developed When:
            panel-body
            h4 
              | 1978-1991
        div.panel.panel-info
            h2(style='text-align:center')
              | Musculoskeletal Disorder Risk Factors Considered:
            panel-body
            h4 
              | Force, posture,frequency, gender, percentage of population capable
        div.panel.panel-info
            h2(style='text-align:center')
              | Body Regions Considered:
            panel-body
            h4 
              | Whole Body, Low Back
        div.panel.panel-info
            h2(style='text-align:center')
              | Type of Jobs Appropriate For:
            panel-body
            h4 
              | Manual material handling
        div.panel.panel-info
            h2(style='text-align:center')
              | Type of Jobs Not Appropriate For:
            panel-body
            h4 
              | Repetitive task jobs except manual material handling
        div.panel.panel-info
            h2(style='text-align:center')
              | Limitations:
            panel-body
            h4 
              | Based on psychophysical ratings of industrial work groups, not strength or probability of injury.
              | Only be used to rate one task at a time, not effect of multiple MMH tasks.
        div.panel.panel-info
            h2(style='text-align:center')
              | Who is the Tool Design For:
            panel-body
            h4 
              | Professionals trained in ergonomics, above a novice
        div.panel.panel-info
            h2(style='text-align:center')
              | Minimal Amount of Training:
            panel-body
            h4 
              | 1 hour
        div.panel.panel-info
            h2(style='text-align:center')
              | Studies That Provide Evidence of Validation of the Tool:
            panel-body
            h4 
              | None currently found in literature
        div.panel.panel-info
            h2(style='text-align:center')
              | Electronic Version:
            panel-body
            h4 
              a(href='http://libertymmhtables.libertymutual.com/CM_LMTablesWeb/pdf/LibertyMutualTables.pdf') LibertyMutualTables.pdf
        div.panel.panel-info
            h2(style='text-align:center')
              | Reference of Peer-Reviewed Publication:
            panel-body
            h4 
              | Snook, S.H.,The design of manual handling tasks, Ergonomics, 21:12-963-985, 1978.
              br
              br 
              | Ciriello, V. M., The effects of box size, vertical distance, and height on lowering tasks. International Journal of Industrial Ergonomics, 28:61-67, 2001.
              br
              br
              | Ciriello, V. M. and Snook, S. H., A study of size, distance, height, and frequency effects on manual handling tasks, Human Factors, 25:5, 1983.
              br
              br
              | Ciriello, V. M., Snook, S. H. and Hughes, G., Further studies of psychophysically determined maximum acceptable weights and forces. Human Factors, 35:11, 175-186, 1993.
              br
              br
              | Ciriello, V. M., Snook, S. H., Blick, A. C. and Wilkinson, P. L., The effects of task duration on psychophysically-determined maximum acceptable weights and forces, Ergonomics, 33:2,| |187-200, 1990.
              br
              br
              | Ciriello, V.M., McGorry, R.W., Martin, S., and Bezverkhny, I.B., Maximum acceptable forces of dynamic pushing: comparison of two techniques. Ergonomics, 42:1, 32-39, 1999a.
              br
              br
              | Snook, S. H. and Ciriello, V. M.; The design of manual handling tasks: revised tables of maximum acceptable weights and forces, Ergonomics, 34:9 1197-1213, 199l.
        div.panel.panel-info
            h2(style='text-align:center')
              | Industries and Jobs Where Tool Has Been Applied:
            panel-body
            h4 
              | All industries
        div.panel.panel-info
            h2(style='text-align:center')
              | Is Tool Copyrighted:
            panel-body
            h4 
              | Yes
        div.panel.panel-info
            h2(style='text-align:center')
              | Instructional or Supplemental Information:
            panel-body
            h4 
              a(href='http://libertymmhtables.libertymutual.com/CM_LMTablesWeb/pdf/LibertyMutualTables.pdf') LibertyMutualTables.pdf
        div.panel.panel-info
            h2(style='text-align:center')
              | Equipment Needed to Use Tool:
            panel-body
            h4 
              | Measuring tape, stopwatch
        div.panel.panel-info
            h2(style='text-align:center')
              | Time Required Analyzing Typical Job:
            panel-body
            h4 
              | < 1 hour
        br
        div
          a(href="/mmh_push_pull_yes")
            .btn.btn-danger(style='text-size:22') Back
          | &nbsp
          | &nbsp
          | &nbsp
          | &nbsp
          | &nbsp
          | &nbsp
          | &nbsp
          | &nbsp
          | &nbsp
          | &nbsp
          a(href="/") 
            .btn.btn-primary(style='text-size:22') Home

