doctype html
html
  head
    link(href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/darkly/bootstrap.min.css', rel='stylesheet')
    meta(name="viewport",content="width=device-width,height=device-height,white-space:normal, initial-scale=1.0")
  body
    div.navbar.navbar-default
      div(style='text-align:center; color: #FFFFFF')
        h1 iErgo
    div.container
      div.jumbotron(style='text-align:center')
        h1(style='text-align:center')#header
          | Washington State (WISHA) Lifting Calculator
        div.panel.panel-info
            h2(style='text-align:center')
                | Purpose:
            panel-body
            h4 
              | To perform a quick analysis of a lifting job in order to determine the need for more detailed
              | analyses
        div.panel.panel-info
            h2(style='text-align:center')
              | Developed by:
            panel-body
            h4 
              | Washington State’s Department of Labor and Industries
        div.panel.panel-info
            h2(style='text-align:center')
              | Developed When:
            panel-body
            h4 
              | Not Known
        div.panel.panel-info
            h2(style='text-align:center')
              | Musculoskeletal Disorder Risk Factors Considered:
            panel-body
            h4 
              | Lifting force, repetitive movements, most awkward lifting and lowering position
        div.panel.panel-info
            h2(style='text-align:center')
              | Body Regions Considered:
            panel-body
            h4 
              | Lower Back
        div.panel.panel-info
            h2(style='text-align:center')
              | Type of Jobs Appropriate For:
            panel-body
            h4 
              | Manual Material Handling
        div.panel.panel-info
            h2(style='text-align:center')
              | Type of Jobs Not Appropriate For:
            panel-body
            h4 
              | Any non-lifting job
        div.panel.panel-info
            h2(style='text-align:center')
              | Limitations:
            panel-body
            h4 
              | Not concerned with the compression forces at any region within the body
              | Sole purpose is to predict if the weight lifted is less than the limit set
        div.panel.panel-info
            h2(style='text-align:center')
              | Who is the Tool Design For:
            panel-body
            h4 
              | Professionals trained in ergonomics and general users
        div.panel.panel-info
            h2(style='text-align:center')
              | Minimal Amount of Training:
            panel-body
            h4 
              | 4 hours
        div.panel.panel-info
            h2(style='text-align:center')
              | Studies That Provide Evidence of Validation of the Tool:
            panel-body
            h4 
              | None currently found in literature
        div.panel.panel-info
            h2(style='text-align:center')
              | Electronic Version:
            panel-body
            h4 
              a(href='http://ergo-plus.com/wisha-lifting-calculator/') WISHA Lifting Calculator              
              br
              br
              a(href='http://ergo-plus.com/wisha-lifting-calculator-guide/') WISHA Lifting Calculator Guide

        div.panel.panel-info
            h2(style='text-align:center')
              | Reference of Peer-Reviewed Publication:
            panel-body
            h4 
              | None currently found in literature
        div.panel.panel-info
            h2(style='text-align:center')
              | Industries and Jobs Where Tool Has Been Applied:
            panel-body
            h4 
              | General manufacturing, construction, and healthcare
        div.panel.panel-info
            h2(style='text-align:center')
              | Is Tool Copyrighted:
            panel-body
            h4 
              | No
        div.panel.panel-info
            h2(style='text-align:center')
              | Instructional or Supplemental Information:
            panel-body
            h4 
              | None currently found in literature              
        div.panel.panel-info
            h2(style='text-align:center')
              | Equipment Needed to Use Tool:
            panel-body
            h4 
              | None
        div.panel.panel-info
            h2(style='text-align:center')
              | Time Required Analyzing Typical Job:
            panel-body
            h4 
              | <1 hours
        br
        div
          a(href="/mmh_push_pull_no")
            .btn.btn-danger(style='text-size:22') Back
          | &nbsp
          | &nbsp
          | &nbsp
          | &nbsp
          | &nbsp
          | &nbsp
          | &nbsp
          | &nbsp
          | &nbsp
          | &nbsp
          a(href="/") 
            .btn.btn-primary(style='text-size:22') Home
