doctype html
html
  head
    link(href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/darkly/bootstrap.min.css', rel='stylesheet')
    meta(name="viewport",content="width=device-width,height=device-height,white-space:normal, initial-scale=1.0")
  body
    div.navbar.navbar-default
      div(style='text-align:center; color: #FFFFFF')
        h1 iErgo
    div.container
      div.jumbotron(style='text-align:center')
        h1(style='text-align:center')#header
          | NIOSH Lifting Equation
        .panel-group
          .panel.panel-info
            panel-title
              h2(style='text-align:center')
                | Purpose:
            panel-body
            h4 
              | To provide an easy-to-use and simple job analysis tool to control overexertion injuries associated with manual material handling and lifting.

        div.panel.panel-info
            h2(style='text-align:center')
              | Developed by:
            panel-body
            h4 
              | Tom Waters, Vern Putz-Anderson, Arun Garg
              | National Institute for Occupational Safety and Health
        div.panel.panel-info
            h2(style='text-align:center')
              | Developed When:
            panel-body
            h4 
              | 1991-1993
        div.panel.panel-info
            h2(style='text-align:center')
              | Musculoskeletal Disorder Risk Factors Considered:
            panel-body
            h4 
              | Lifting Force, Posture, Repetition, Duration
        div.panel.panel-info
            h2(style='text-align:center')
              | Body Regions Considered:
            panel-body
            h4 
              | Lower Back
        div.panel.panel-info
            h2(style='text-align:center')
              | Type of Jobs Appropriate For:
            panel-body
            h4 
              | Two hand lifting and lowering with stable loads
        div.panel.panel-info
            h2(style='text-align:center')
              | Type of Jobs Not Appropriate For:
            panel-body
            h4 
              | Repetitive tasks, static tasks, dynamic tasks, seated tasks
        div.panel.panel-info
            h2(style='text-align:center')
              | Limitations:
            panel-body
            h4 
              | Does not factor in whole-body vibration, direct trauma to the back, or non-liftingMSD hazards.
              |Cannot be used for :
              br
              br
              |    One-handed lifts
              br
              br
              |    > 8 hour lifting
              br
              br
              |    Seated or kneeling lifting
              br
              br
              |    Tight work space lifting
              br
              br
              |    Lifting unstable objects
              br
              br
              |    Carrying / pushing / pulling tasks 
              br
              br
              | Slippery or uneven surfaces.
              br
              br
              | Cannot predict injuries to individual operators.
              br
              br
              | Does not account for individual risk factors including gender, age, or medical history.
        div.panel.panel-info
            h2(style='text-align:center')
              | Inputs:
            panel-body
            h4 
              | Cycle Time Orthogonal components of vibration provided transducer
        div.panel.panel-info
            h2(style='text-align:center')
              | Outputs:
            panel-body
            h4 
              | Comparison of hand activity to the Threshold Limit Value (TLV) for hand vibration
        div.panel.panel-info
            h2(style='text-align:center')
              | Who is the Tool Design For:
            panel-body
            h4 
              | Professionals trained in ergonomics and general users
        div.panel.panel-info
            h2(style='text-align:center')
              | Minimal Amount of Training:
            panel-body
            h4 
              | Reviewing user guide or self training (<4 hours)
        div.panel.panel-info
            h2(style='text-align:center')
              | Studies That Provide Evidence of Validation of the Tool:
            panel-body
            h4 
              | 1. Hidalgo and Associates (1995)
              br
              br 
              | Results: NIOSH limits are different than psychophysics at low and high lift frequencies; small and large horizontal distances.  NIOSH
              |          limits highly correlated to Snook 16Tables in low frequency range.  3400 N limit for biomechanics can not protect majority 
              |          of population on basis of damage load concept. Energy expenditure limits can be sustained for 57 to 99% of worker population.
              br
              br
              | 2. Waters and Associates (1999)
              br
              br
              | Results: As LI increased from 1 to 3, the odds of LBP increased 
              |          Greatest OR when LI between 2 and 3 (OR=2.45) 
              |          When LI > 3, OR decreased (OR = 1.45)
              br
              br
              | 3. Marras and Associates (1999)
              br
              br
              | Results: OR = 3.1   95%CI (2.6, 3.8)
              |          Moderate specificity -55% correct for low-risk jobs
              |          Good sensitivity -73% correct of high-risk jobs 
        div.panel.panel-info
            h2(style='text-align:center')
              | Electronic Version:
            panel-body
            h4 
              a(href='http://personal.health.usf.edu/tbernard/HollowHills/HAV50.xls') Hand-Arm Vibration Analysis
        div.panel.panel-info
            h2(style='text-align:center')
              | Reference of Peer-Reviewed Publication:
            panel-body
            h4 
              | Waters, T.R., Putz-Anderson, V., Garg, A. and Fine, L.J, 1993, Revised NIOSH equation for the design and
              | evaluation of manual lifting tasks, Ergonomics, 36(7): 749-776
        div.panel.panel-info
            h2(style='text-align:center')
              | Industries and Jobs Where Tool Has Been Applied:
            panel-body
            h4 
              | Package sorting and handling, package delivery, beverage delivery, assembly work, manual handling of
              | less than 10 pounds, production jobs with forceful exertions, stationary lifting
        div.panel.panel-info
            h2(style='text-align:center')
              | Is Tool Copyrighted:
            panel-body
            h4 
              | No
        div.panel.panel-info
            h2(style='text-align:center')
              | Instructional or Supplemental Information:
            panel-body
            h4 
              | Waters TR, Putz-Anderson V, Garg A (1994)
              br
              br
              | Applications manual for the revised NIOSH lifting equation. Cincinnati, OH:
              br
              | U.S. Department 
              | of Health and Human Services, Public Health Service, Centers for Disease Control and Prevention, National Institute for Occupational
              | Safety and Health, DHHS (NIOSH) Publication No. 94–110.
        div.panel.panel-info
            h2(style='text-align:center')
              | Equipment Needed to Use Tool:
            panel-body
            h4 
              | Scale and Tape Measure
        div.panel.panel-info
            h2(style='text-align:center')
              | Time Required Analyzing Typical Job:
            panel-body
            h4 
              | < 1 hour
        br
        p(style='text-align:left')
          a.btn-lg.btn-danger(href="/tool_definitions") Back

