doctype html
html
	head
		link(href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/darkly/bootstrap.min.css', rel='stylesheet')
		meta(name="viewport",content="width=device-width,height=device-height,white-space:normal, initial-scale=1.0")
	body
		div.navbar.navbar-default
			div(style='text-align:center; color: #FFFFFF')
				h1 iErgo
		div.container
			div.jumbotron(style='text-align:center')
				h1(style='text-align:center')#header
					| Rapid Entire Body Assessment (REBA)
				.panel-group
					.panel.panel-info
						h2(style='text-align:center')
							| Purpose:
						panel-body
						h4
							| To develop a postural analysis system sensitive to musculoskeletal risk in variety of jobs that is based on body segment specific ratings within specific
							movement planes, using a scoring system for muscle activity including static, dynamic, rapidly changing or unstable postures, and provide a benchmark for urgency of action.
				.panel-group
					.panel.panel-info
						h2(style='text-align:center')
								| Developed by:
						panel-body
						h4
							| S. Hignett and L. McAtammey
				.panel-group
					.panel.panel-info
						h2(style='text-align:center')
								| 	Developed When:
						panel-body
						h4
							| 2000
					.panel.panel-info
						h2(style='text-align:center')
							| Musculoskeletal Disorder Risk Factors Considered:<strong></strong>
						panel-body
						h4
							| Awkward postures, load/force, coupling, activity level
				.panel-group
					.panel.panel-info
						h2(style='text-align:center')
							| 	Body Regions Considered:
						panel-body
						h4
							| Trunk, neck, legs, knees, upper and lower arms, wrists
				.panel-group
					.panel.panel-info
						h2(style='text-align:center')
							| 	Type of Jobs Appropriate For:
						panel-body
						h4
							| Jobs with a range of frequencies, involving multiple body regions, standing or sitting or combination
				.panel-group
					.panel.panel-info
						h2(style='text-align:center')
							| 	Type of Jobs Not Appropriate For:
						panel-body
						h4
							| None
				.panel-group
					.panel.panel-info
						h2(style='text-align:center')
							| 	Limitations:
						panel-body
						h4
							| Some factors (e.g. twisting, lateral bending, abduction) are weighted equally no matter to what degree they exist (e.g. 5o twisting or 20o of twisting)
				.panel-group
					.panel.panel-info
						h2(style='text-align:center')
							| 	Who is the Tool Design For:
						panel-body
						h4
								| General Users
				.panel-group
					.panel.panel-info
						h2(style='text-align:center')
							| 	Minimal Amount of Training:
						panel-body
						h4
							| 1 hour
				.panel-group
					.panel.panel-info
						h2(style='text-align:center')
							| 	Studies That Provide Evidence of Validation of the Tool:
						panel-body
						h4
							| Inter-observer reliability was found to be 62-85% for 14 users. (S. Hignett and L. McAtammey)
				.panel-group
					.panel.panel-info
						h2(style='text-align:center')
							| 	Electronic Version:
						panel-body
						h4
							a(href="http://personal.health.usf.edu/tbernard/HollowHills/REBA.pdf") REBA.pdf
				.panel-group
					.panel.panel-info
						h2(style='text-align:center')
							| 	Reference of Peer-Reviewed Publication:
						panel-body
						h4
							| Hignett, S., McAtammey L., Rapid entire body assessment (REBA), Applied Ergonomics, 2000, 31, 201-205.
				.panel-group
					.panel.panel-info
						h2(style='text-align:center')
							| 	Industries and Jobs Where Tool Has Been Applied:<strong></strong>
						panel-body
						h4
							| Suitable for all industries
				.panel-group
					.panel.panel-info
						h2(style='text-align:center')
							| 	Is Tool Copyrighted:
						panel-body
						h4
							| No
				.panel-group
					.panel.panel-info
						h2(style='text-align:center')
							| 	Instructional or Supplemental Information:
						panel-body
						h4
							| None found in the literature
				.panel-group
					.panel.panel-info
						h2(style='text-align:center')
							| 	Equipment Needed to Use Tool:
						panel-body
						h4
							| Worksheet, protractor, scale
				.panel-group
					.panel.panel-info
						h2(style='text-align:center')
							| 	Time Required Analyzing Typical Job:
						panel-body
						h4
							| < 1 hr
				br
				p(style='text-align:left')
					a.btn-lg.btn-danger(href="/tool_definitions") Back