html
  head
    title=title
    link(href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/darkly/bootstrap.min.css', rel='stylesheet')
    meta(name="viewport",content="width=device-width,height=device-height,white-space:normal, initial-scale=1.0")
  body
    div.navbar.navbar-default
      div(style='text-align:center; color: #FFFFFF')
        h1 iErgo
    div(style='text-align:center').container
      div.jumbotron
        h2 Tool Definitions
          br
          p
            div
              a(href="/acgih")
                .btn.btn-primary(style='width:75%; height:fluid; font-size:22; white-space:normal; word-wrap: break-word; word-break: normal') ACGIH TLV Hand Arm Segmental Vibration
          p
            div
              a(href="/liberty")
                .btn.btn-primary(style='width:75%; height:fluid; font-size:22; white-space:normal; word-wrap: break-word; word-break: normal') Liberty Manual Psychophysical Tables
          p
            div
              a(href="/roger")
                .btn.btn-primary(style='width:75%; height:fluid; font-size:22; white-space:normal; word-wrap: break-word; word-break: normal') Roger's Muscle Fatigue Assessment
          p
            div
              a(href="/moore")
                  .btn.btn-primary(style='width:75%; height:fluid; font-size:22; white-space:normal; word-wrap: break-word; word-break: normal') Moore-Garg Strain Index
          p
            div
            a(href="/wisha")
              .btn.btn-primary(style='width:75%; height:fluid; font-size:22; white-space:normal; word-wrap: break-word; word-break: normal') WISHA Lifting Calculator
          p
            div
              a(href="/niosh_lifting")
                  .btn.btn-primary(style='width:75%; height:fluid; font-size:22; white-space:normal; word-wrap: break-word; word-break: normal') NIOSH Lifting Equation
          p
            div
              a(href="/reba")
                  .btn.btn-primary(style='width:75%; height:fluid; font-size:22; white-space:normal; word-wrap: break-word; word-break: normal') REBA
          p
            div
            a(href="/rula")
              .btn.btn-primary(style='width:75%; height:fluid; font-size:22; white-space:normal; word-wrap: break-word; word-break: normal') RULA
          p
            br
          p(style='text-align:left')
            a.btn-lg.btn-danger(href="/") Back