html
  head
    title=title
    link(href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/darkly/bootstrap.min.css', rel='stylesheet')
    meta(name="viewport",content="width=device-width,height=device-height, initial-scale=1.0")
  body
    div.navbar.navbar-default
      div(style='text-align:center; color: #FFFFFF')
        h1 iErgo
    div(style='text-align:center').container
      div.jumbotron
        h2 Recommended Tools: 
            p
              br
              div
                a(href="/uet_vibration_no_rula")
                  .btn.btn-primary(style='width:75%; height:fluid; font-size:22; white-space:normal; word-wrap: break-word; word-break: normal') RULA
            p
              div
                a(href="/uet_vibration_no_moore")
                  .btn.btn-primary(style='width:75%; height:fluid; font-size:22; white-space:normal; word-wrap: break-word; word-break: normal') Moore-Garg Strain Index
            p
              br
            p(style='text-align:left')
              a.btn.btn-danger(href="/vibration") Back