doctype html
html
  head
    link(href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/darkly/bootstrap.min.css', rel='stylesheet')
    meta(name="viewport",content="width=device-width,height=device-height,white-space:normal, initial-scale=1.0")
  body
    div.navbar.navbar-default
      div(style='text-align:center; color: #FFFFFF')
        h1 iErgo
    div.container
      div.jumbotron(style='text-align:center')
        h1(style='text-align:center')#header
          | Moore-Garg Strain Index
        .panel-group
          .panel.panel-info
            panel-title
              h2(style='text-align:center')
                | Purpose:
            panel-body
            h4 
              | To provide a relatively simple risk assessment method designed to evaluate a job's level of risk for 
              | developing a disorder of the distal upper extremities
        div.panel.panel-info
            h2(style='text-align:center')
              | Developed by:
            panel-body
            h4 
              | J. Steven Moore and Arun Garg
        div.panel.panel-info
            h2(style='text-align:center')
              | Developed When:
            panel-body
            h4 
              | 1995
        div.panel.panel-info
            h2(style='text-align:center')
              | Musculoskeletal Disorder Risk Factors Considered:
            panel-body
            h4 
              | Lifting Force, push/pull force, Awkward Posture, Repetition, Duration
        div.panel.panel-info
            h2(style='text-align:center')
              | Body Regions Considered:
            panel-body
            h4 
              | Hands, wrists, forearms, and elbows
        div.panel.panel-info
            h2(style='text-align:center')
              | Type of Jobs Appropriate For:
            panel-body
            h4 
              | Hand intensive repetitive tasks
        div.panel.panel-info
            h2(style='text-align:center')
              | Type of Jobs Not Appropriate For:
            panel-body
            h4 
              | Static tasks and awkward posture tasks
        div.panel.panel-info
            h2(style='text-align:center')
              | Limitations:
            panel-body
            h4 
              | Does not account for contact stress, cold temperatures, hand-arm vibration, or recovery time between exertions.
              br
              br
              | Only looks at MSD risk for the upper extremity, from the elbows to hands.
              br
              br
              | User must estimate intensity of exertions, postures, & speed of work.
              br
              br
              | Multiplier values used in the method are primarily based on the authors' professional opinions with support from
              | physiological, biomechanical, and epidemiological principles as opposed to a mathematical relationship between task variables.
              br
              br
              | Cannot predict injuries to individual operators.
              br
              br
              | Does not account for individual risk factors including gender, age, or medical history.
        div.panel.panel-info
            h2(style='text-align:center')
              | Who is the Tool Design For:
            panel-body
            h4 
              | Professionals trained in ergonomics and general users
        div.panel.panel-info
            h2(style='text-align:center')
              | Minimal Amount of Training:
            panel-body
            h4 
              | 4 Hours
        div.panel.panel-info
            h2(style='text-align:center')
              | Studies That Provide Evidence of Validation of the Tool:
            panel-body
            h4 
              | Knox and Moore (2001)
              br
              | &nbsp;&nbsp;Predictive Validity:
              br
              | &nbsp;&nbsp;Turkey processing plant with 28 single-task jobs
              br
              | &nbsp;&nbsp;All tasks were video taped for 10 job cycles
              br
              | &nbsp;&nbsp;OSHA 200 logs over a 3-year period
              br
              br
              | Moore and Garg (1994)
              br
              | &nbsp;&nbsp;Predictive Validity:
              br
              | &nbsp;&nbsp;Pork processing plant with 32 jobs categories
              br
              | &nbsp;&nbsp;All tasks were video taped
              br
              | &nbsp;&nbsp;OSHA 200 logs over a 20-month period
              br
              br
              | Rucker and Moore (2002)
              br
              | &nbsp;&nbsp;Predictive Validity :
              br
              | &nbsp;&nbsp;Manufacturing plants, Hose connecting plant, Chair manufacturer
              br
              | &nbsp;&nbsp;28 jobs categories, tasks video taped
              br
              | &nbsp;&nbsp;OSHA 200 logs over a 3-year period
              br
              br
              | Overall, Provides evidence of good sensitivity (0.86-1.0) and evidence of good specificity(0.79-0.94) depending on population.
              br
              br
              | Spielholz P, Bao S, Howard N, Silverstein B, Fan J, Smith C, Salazar C. “Reliability and validity assessment of the hand activity level threashold limit value and strain index using expert ratings of mono-task jobs”, J. Occupational Environmental Hygiene, 5(4): 250-7, Apr.2008.
        div.panel.panel-info
            h2(style='text-align:center')
              | Electronic Version:
            panel-body
            h4 
              a(href='http://ergo.human.cornell.edu/ahJSI.html') JSI Worksheet
              br
              br
              a(href='http://personal.health.usf.edu/tbernard/HollowHills/StrainIndexM12.pdf') StrainIndex.pdf
        div.panel.panel-info
            h2(style='text-align:center')
              | Reference of Peer-Reviewed Publication:
            panel-body
            h4 
              | J. Steven Moore and Arun Garg, (1995), The Strain Index: A Proposed Method To Analyze Jobs For 
              | Risk Of  Distal Upper Extremity Disorders, American Industrial Hygiene Association Journal, 56:443-458.
        div.panel.panel-info
            h2(style='text-align:center')
              | Industries and Jobs Where Tool Has Been Applied:
            panel-body
            h4 
              | Small parts assembly, inspecting, meatpacking, sewing, packaging, keyboarding, data processing, and highly repetitive hand motion jobs.
        div.panel.panel-info
            h2(style='text-align:center')
              | Is Tool Copyrighted:
            panel-body
            h4 
              | No
        div.panel.panel-info
            h2(style='text-align:center')
              | Instructional or Supplemental Information:
            panel-body
            h4 
              | None currently found in literature
        div.panel.panel-info
            h2(style='text-align:center')
              | Equipment Needed to Use Tool:
            panel-body
            h4 
              | Stopwatch
        div.panel.panel-info
            h2(style='text-align:center')
              | Time Required Analyzing Typical Job:
            panel-body
            h4 
              | 1-2 hours
        br
        div
          a(href="/uet_risk_from_force")
            .btn.btn-danger(style='text-size:22') Back
          | &nbsp
          | &nbsp
          | &nbsp
          | &nbsp
          | &nbsp
          | &nbsp
          | &nbsp
          | &nbsp
          | &nbsp
          | &nbsp
          a(href="/") 
            .btn.btn-primary(style='text-size:22') Home
